In [2]:
import pandas as pd
import numpy as np
location = "datasets/gradedata.csv"
df = pd.read_csv(location)
df.tail()

,fname,lname,gender,age,exercise,hours,grade,address
1995,Cody,Shepherd,male,19,1,8,80.1,"982 West Street, Alexandria, VA 22304"
1996,Geraldine,Peterson,female,16,4,18,100.0,"78 Morris Street, East Northport, NY 11731"
1997,Mercedes,Leon,female,18,3,14,84.9,"30 Glenridge Rd., Bountiful, UT 84010"
1998,Lucius,Rowland,male,16,1,7,69.1,"342 West Meadowbrook Lane, Helena, MT 59601"
1999,Linus,Morris,male,19,4,10,79.6,"81 Homestead Drive, Voorhees, NJ 08043"

In [3]:
df.take(np.random.permutation(len(df))[:500])

,fname,lname,gender,age,exercise,hours,grade,address
509,Rebekah,Skinner,female,16,2,13,81.7,"21 Delaware Lane, Minneapolis, MN 55406"
1294,Kaitlin,Chen,female,18,3,12,79.5,"535 Alderwood Street, Capitol Heights, MD 20743"
1038,Tate,Moreno,male,16,1,16,87.6,"664 Anderson Street, Sandusky, OH 44870"
626,Lunea,Grant,female,16,1,15,88.7,"704 Vale St., Portsmouth, VA 23703"
1910,Gail,Mcneil,female,17,2,3,56.1,"8409A Spruce St., Fishers, IN 46037"
462,Sade,Juarez,female,18,3,5,61.1,"84 Amerige Street, Davenport, IA 52804"
1817,Vera,Molina,female,14,2,11,83.6,"97 SE. Windfall St., Muskegon, MI 49441"
666,Hakeem,Dorsey,male,15,2,5,74.7,"9761 Wagon St., Villa Rica, GA 30180"
582,Ali,Underwood,male,18,1,13,89.5,"585 Bay Meadows Ave., Ladson, SC 29456"
1073,Giacomo,Conley,male,17,3,18,92.1,"931 Dunbar Ave., Parlin, NJ 08859"
387,Hiroko,Koch,female,17,4,15,90.4,"7843 Bay Street, Lombard, IL 60148"
451,Ila,Mooney,female,14,5,12,93.8,"741 Corona St., Woodhaven, NY 11421"
1780,Signe,Bentley,female,14,1,6,71.8,"7008 Augusta Ave., Macomb, MI 48042"
1364,Olympia,Huffman,female,15,2,13,89.4,"55 Big Rock Cove Street, Olney, MD 20832"
1716,Hector,Melton,male,18,4,12,88.2,"60 Liberty Drive, Apple Valley, CA 92307"
657,Maxine,Cooley,female,19,3,9,77.0,"9 Sleepy Hollow Street, Franklin Square, NY 11010"
334,Flynn,Berger,male,17,2,10,84.9,"8741 Princeton Lane, Tewksbury, MA 01876"
1257,Rigel,Johnson,male,17,4,8,82.1,"923 South Elmwood St., Groton, CT 06340"
197,Jescie,Snyder,female,17,3,5,77.0,"7882 East Harvard St., Lincoln Park, MI 48146"
579,Xenos,Snow,male,14,2,12,91.4,"46 W. Gainsway Street, Reisterstown, MD 21136"
1742,Keegan,Savage,male,18,3,10,70.7,"967 Kirkland Dr., Fort Mill, SC 29708"
1812,Cooper,Thomas,male,16,2,12,80.1,"9484 N. Fairfield Dr., West New York, NJ 07093"
933,Dexter,Bell,male,19,3,10,69.9,"212 Valley Drive, Royersford, PA 19468"
1965,Lavinia,Carr,female,16,2,4,62.2,"993 Rockaway Road, Fleming Island, FL 32003"
1739,Chadwick,Harrell,male,17,1,12,90.3,"55 Fieldstone Circle, Monroe, NY 10950"
1820,Dexter,Dalton,male,14,3,8,72.0,"47 Tanglewood Court, Land O Lakes, FL 34639"
2,Nash,Powell,male,18,5,9,79.3,"41 Hill Avenue, Mentor, OH 44060"
884,Paul,Atkins,male,19,1,17,97.9,"766 Pacific Dr., Rapid City, SD 57701"
993,Harriet,Paul,female,14,3,14,89.5,"8012 Gartner St., Moorhead, MN 56560"
1006,William,Hatfield,male,16,5,13,89.2,"576 E. Shirley Rd., Paramus, NJ 07652"
...,...,...,...,...,...,...,...,...
518,Vladimir,Salinas,male,17,3,5,70.9,"8029 North Tanglewood Ave., Fort Washington, M..."
764,Dolan,Maxwell,male,18,5,7,82.5,"223 Columbia Court, Taylors, SC 29687"
963,Hayley,Aguirre,female,19,4,14,85.8,"140 Trout Rd., Waterloo, IA 50701"
1120,Eric,Palmer,male,15,4,10,90.9,"777 Branch St., North Bergen, NJ 07047"
1157,Chancellor,Graves,male,18,1,9,83.4,"7313 East Tallwood Ave., Oconomowoc, WI 53066"
1680,Clayton,Yates,male,16,5,14,100.0,"9528 Miller Drive, Klamath Falls, OR 97603"
81,Justin,Holden,male,18,3,17,83.5,"15 South Third Drive, Coachella, CA 92236"
1315,Odette,Leonard,female,17,1,17,96.2,"7428 N. Harrison Dr., Ambler, PA 19002"
1040,Kareem,Walters,male,16,2,14,83.1,"117 Vermont Ave., Rapid City, SD 57701"
267,Keith,Dominguez,male,14,3,9,84.2,"254 Logan Rd., Winona, MN 55987"
662,Sarah,Bruce,female,14,2,9,75.4,"835 Birchpond Drive, Fullerton, CA 92831"
1025,Laurel,Brennan,female,17,1,7,75.2,"14 Sleepy Hollow Street, Sevierville, TN 37876"
1979,Kai,Woodard,female,17,5,17,100.0,"37 Addison St., Eastpointe, MI 48021"
1222,Devin,Rodriguez,male,19,1,14,83.4,"966 Pleasant Street, Hudson, NH 03051"
665,Ifeoma,Hendricks,female,17,3,13,79.0,"471 Brandywine Ave., Massapequa Park, NY 11762"
1645,Marvin,Jackson,male,18,1,9,72.8,"32 Leatherwood Avenue, Evans, GA 30809"
787,Josephine,Rivers,female,18,2,17,100.0,"8867 Jackson Dr., Newark, NJ 07103"
1409,Denise,Keith,female,17,5,4,71.7,"9637 Gartner St., Ravenna, OH 44266"
1106,Vivien,Henderson,female,17,3,12,87.9,"96 Lancaster Ave., Hoffman Estates, IL 60169"
1539,Isadora,Whitehead,female,14,1,7,75.0,"80 Valley View Lane, Cumberland, RI 02864"
1055,Plato,Holcomb,male,16,1,7,76.1,"664 Peninsula Court, Great Falls, MT 59404"
1535,Harlan,Collier,male,17,3,14,96.5,"8620 Oklahoma Circle, New Kensington, PA 15068"
1383,Mason,Mcgowan,male,17,1,17,100.0,"3 Stonybrook Street, Wadsworth, OH 44281"
168,Callie,Hoffman,female,15,3,9,71.9,"183 N. Brickell Lane, West Chicago, IL 60185"
250,Kennedy,Ryan,male,15,1,10,83.0,"309 Pawnee St., Bethesda, MD 20814"
171,Callie,Washington,female,17,2,7,77.0,"9 Griffin Street, Wyandotte, MI 48192"
1769,Angela,Mcdaniel,female,18,1,8,73.3,"630 Wilson Dr., Baton Rouge, LA 70806"
1771,William,Mosley,male,14,1,4,64.2,"9525 Aspen St., Lexington, NC 27292"
1424,Gregory,Myers,male,15,1,12,77.5,"18 Peninsula Street, Grand Forks, ND 58201"
1360,Brooke,Trujillo,female,16,3,12,79.0,"418 Nut Swamp Road, District Heights, MD 20747"